.music{
    margin: 0;
    padding-top: 4%;
    height: 667px;
    background-size: cover;
    background-position: 45% 

}

.songs {
    background-color: #011533;
    width: 85%;
    height: 275px;
    color: #fff;
    text-align: center;
    margin: 7%;
    border-radius: 10%;
    border-color: #fff;
    border-style: solid;
    border-width: 1px;
    padding: 15px;
    font-size: 1em;
    font-family: 'PT Sans', sans-serif;
}

.music-h1 {
    font-size: 4em;
    color: #fff;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
    font-family: 'Great Vibes', cursive;
}




.titles {
    margin-bottom: 20px;
    
}

.titles2 {
    color: darkgrey;
}

.arrows {
 margin-top: 10%;
display: flex;
justify-content: space-between;


}

.arrow1 {
    height: 50px;
    transform: scaleX(-1);
    margin: 7%;
    
    
}

.arrow2 {
    height: 50px;
    margin: 7%;
}

.songs-btn {

    background-color: #230133;
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 1em;
    border-color: #fff;
    border-width: 1px;
    text-align: center;
    width:30%;
    height: 35px;
    margin-top: 4%;
    

    
}

@media(min-width:750px){

    .music{
        margin: 0;
        width: 100%;
        height: 1024px;
        background-size: cover;
        background-position: 40%;
        padding-top: 2%;
    }


    .songs {
        font-size: 2em;
        margin-top: 0;
        height: 450px;
        margin-bottom: 1%;
        width: 75%;
        margin-left: 12.5%;
    }

    .music-h1 {
        margin-bottom: 1%;
        font-size: 9em;
    }

    .songs-btn{
        height: 75px;
        font-size: 2em;
    }

    .arrows{
        margin-top: 0;
    }

    .arrow1 {
        height: 100px;
        transform: scaleX(-1);
        
        
        
    }
    
    .arrow2 {
        height: 100px;
    }
}

@media(min-width:1200px){

    .music{
         height: 800px;
    }


    .music-h1{
        margin-top: 8%;
    }

    .songs{
        margin: 0;
        width: 30%;
        height: 375px;
        margin-left: 35%;
        
        font-size: 1.5em;
    }

    .arrows{
        margin: 0;
        width: 100%;
        justify-content: center;
    }

    .background-weird{
        background: transparent;
        border: 0;
        margin-left: 4%;
        margin-right: 5%;
    }

    .arrow1{
        margin-right: 50%;
    }

    .arrow2{
        background:transparent;
        border:0;
    }

    .songs-btn{
        margin-top: 1%;
        background-color: #230133;
        padding-top: 0;
        color: #fff;
        align-content: center;
        font-family: 'PT Sans', sans-serif;
        font-weight: bold;
        border-color: #fff;
        border-width: 1px;
        text-align: center;
        width:15%;
        height: auto;
        font-size: 3em;
        padding-bottom: 0;
    }
    
}