
.splash{
    background: url('../../images/splash.jpg');
    background-size: cover;
    height: 100vh;
    width: 100%;
    padding-top: 4%;
}

.header-container{
    height: auto;
    width: 100%;
    background-color:#230133;
    border-color: #fff;
    border-width: 1px 0px;
    border-style: solid;
    font-size: 10vw;
    font-family: 'PT Sans', sans-serif;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    padding: 1% 0;
}

.login{
    margin-top: 100%;
    text-align: center;
    

}

.splash-button{
    background-color: #230133;
    color: #fff;
    border-color: #fff;
    border-width: 1px;
    width: auto;
    height: auto;
    font-size: 9vw;
    border-radius: 10px;
}

@media( min-width: 650px){
    .splash{
        padding-top: 2%;

    }

    .header-container{
        font-size: 9vw;
    }

    .login{
        margin-top: 30%;
    }

    .splash-button{
        font-size: 6vw
    }

}


@media( min-width:750px){
    .splash{
        padding-top: 4%;
    }

    .header-container{
        font-size: 9vw;
    }

    .login{
        margin-top: 90%;
    }

    

}

@media(min-width:1000px){
    .login{
        margin-top: 40%;
    }

}

@media(min-width:1200px){

    .header-container{
        font-size: 5vw;
        width: 40%;
        margin-left: auto;
        margin-right: auto;
    }

    .splash-button{
        font-size: 4vw;
    }

    .login{
        margin-top: 25%;
    }
}