
.event-event {

    margin: 0;
    padding-top: 4%;
    height: auto;
    background-size: cover;
    background-position: 45%;
    padding-bottom: 5%;
}


.event-footer {
    margin-top: 5%;
    text-align: center;
   
    font-family: 'PT Sans', sans-serif;
}

.event-edit {
    margin-top:10%;
    color: #fff;
    display: flex;
    justify-content: space-around;
    font-family: 'PT Sans', sans-serif;
}
@media(min-width:750px){
    
    .event-footer{
        font-size: 2.2em
    }

    .event-edit{
        margin-top:5%;
        font-size: 2.5em;
    }

}

@media(min-width:1200px){
    .event-edit{
        width: 100%;
        margin: 5%;
        margin-left: 0;
    }

    .event-footer{
        font-size: 2em;
        text-align: center;
    }

    
}