*{
    margin: 0;
    padding: 0;
}

.head {
    background-color: #230133;
    width: 100%;
    height: 35px;
    margin-top: 25px;
    color: #fff;
    border-color: #230133;
    border-top: #fff;
    border-bottom: #fff;
    border-width: 1px;
    border-style: solid;
    border-left-width: 0px;
    font-size: 1.5em;
    text-align: center;
    padding-top: 5px;
    font-weight: bold;
    font-family: 'PT Sans', sans-serif;
    display: flex;
    justify-content: space-between;
}

a{
    color: #fff;
    text-decoration: none;
}

a:active {
    color: #011533
}

.ham-menu{
    margin: 0;
    padding: 0;
    width: 5%;
}

.hamburger {
    margin-left: 10px;
    margin-top: 1px;
    height: 19px;
}

.enter {
    padding: 0;
    margin: 0;
    margin-right: 5px;
}

.line {
    color: #fff;
    font-family: 'Great Vibes', cursive;
    margin-top: 15%;
}

.byline {
    margin-left: 5%;
    font-size: 3.2em;
    margin-bottom: 30px;
}

.byline2 {
    margin-left: 20%;
    font-size: 3em;
}

.menu {
    color:#fff;
    width: 30%;
    padding-left: 5%;
    position: absolute;
    padding-top: 15px;
    border-bottom-right-radius: 10%;
    left: -30%;
    transition: 1s;

}

.menu ul li {
    margin-bottom: 50px;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'PT Sans', sans-serif;
}


.menu-slide {
    left: 0;
    transition: 1s;
    background-color:  #230133;
}

