/*this is for page transitions only*/
.home-app-hidden{
    position:absolute;
    left: 200%;
    transition: .5s;
    z-index: -5;
}

.home-app{
    position:absolute;
    transition: .5s;
    z-index: -5;
}
/*everything below effects the home page*/


.force{
    position: relative;
    margin-top: 125%;
}
.byline {
    color: #fff;
     font-family: 'Great Vibes', cursive;
    margin-left: 5%;
    font-size: 3.2em;
}

.byline2 {
    color: #fff;
    font-family: 'Great Vibes', cursive;
    margin-left: 20%;
    font-size: 3em;
}


.home{
    margin: 0;
    padding-top: 4%;
    height: 667px;
    background-size: cover;
    background-position: 45% 

}


/*This effects the entire home page component at ipad size*/

@media(min-width: 750px){

    .force{
        margin-top: 75%;
    }

   .byline {
        margin-left: 10%;
        font-size: 7em;
        margin-bottom: 10px;
        color: #fff;
        font-family: 'Great Vibes', cursive;
    }
    
    .byline2 {
        color: #fff;
        font-family: 'Great Vibes', cursive;
        margin-left: 25%;
        font-size: 6em;
    }

    
    .home{
        margin: 0;
        width: 100%;
        height: 1024px;
        background-size: cover;
        background-position: 40%;
        padding-top: 2%;
    
    }

}

/*The entire home page at full desktop size*/

@media(min-width: 1200px){
    .force{
        margin-top: 35%;
    }

   .line {
        color: #fff;
        font-family: 'Great Vibes', cursive;
        font-weight: bold;
        margin-top: 32%;
    }
    
    .byline {
        margin-left: 10%;
        font-size: 7em;
        margin-bottom: 45px;
    }
    
    .byline2 {
        margin-left: 25%;
        font-size: 6em;
    }

    .home{
        height: 800px;
    }

}
