
.playlist-songs {
    background-color: #011533;
    width: 85%;
    height: auto;
    color: #fff;
    text-align: center;
    margin: 7% auto 0% auto;
    border-radius: 30px;
    border-color: #fff;
    border-style: solid;
    border-width: 1px;
    padding: 3%;
    font-size: 7vw;
    font-family: 'PT Sans', sans-serif;
}

.playlist-h1 {
    font-size: 18vw;
    color: #fff;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
    font-family: 'Great Vibes', cursive;
}

.playlist-hidden{
    display: none;
}

.playlist-reveal{
    display: initial;
}

@media(min-width:650px){
    .playlist-h1{
        font-size: 15vw;
    }

    .playlist-songs{
        font-size: 4vw;
    }
}

@media(min-width: 750px){
    .playlist-h1{
        font-size: 15vw;

    }

    .playlist-songs {
        width: 70%;
        font-size: 5vw;
    }
}

@media(min-width: 1200px){
    
    .play-list-h1{
        font-size: 12vw;
    }

    .playlist-songs{
        width: 50%;
        font-size: 3vw;
        margin-bottom: 0;
    }
}